<form class="product-form"  [formGroup]="form">
    <mat-card>
        <mat-card-content>
            <mat-card-title>Edit</mat-card-title>
    <mat-form-field appearance="fill" color="accent">
            <mat-label>Short</mat-label>
            <textarea class="short-textarea" matInput formControlName="short"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent">
            <mat-label>Price</mat-label>
            <input matInput type="number" formControlName="price">
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent">
            <mat-label>Categories</mat-label>
            <mat-select formControlName="category">
            <mat-option value="fittings">Fittings</mat-option>
            <mat-option value="bolts-nuts">Bolts Nuts</mat-option>
            <mat-option value="screws">Screws</mat-option>
            </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent">
            <mat-label>Description</mat-label>
            <textarea class="description-textarea" matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-card-actions>
        <button class="btn"  mat-raised-button (click)="submit()" >Submit</button>
        <button class="btn"  mat-raised-button (click)="close($event)">Close</button>
    </mat-card-actions>
    </mat-card-content>
    </mat-card>
</form>
