@import '../../app.component.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  mat-drawer-container {
    height: 100%;
  }
  .footer-url {
    text-decoration: none;
        color: $textColor !important;
  }
