@import '../../app.component.scss';
* {
    color: $textColor;
}
:host {
    .mat-icon {
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
  
  .logo {
    text-align: center;
    padding: 2rem 1rem;
    img {
      width: 200px;
    }
  }
  .mat-divider {
    margin-bottom: 25px;
    border-top-width: 2px;
    border-color: $textColor;
  }
  .mat-list-item {
    color: #d3d8dfdb !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
    &:hover {
      color: #f2f5f7 !important;
    }
    ::ng-deep {
      .mat-list-item-content {
        border-radius: 5px;
        margin: 0 8px;
        &:hover {
          background: #5b5b60 !important;
        }
      }
    }
  }
  .list-item-active {
    color: #f2f5f7 !important;
    ::ng-deep {
      .mat-list-item-content {
        background: #5b5b60 !important;
        &:hover {
          background: #5b5b60 !important;
        }
      }
    }
  }
  .mat-subheader {
    color: #818cf8;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
  }
  ng-content {
    color: $textColor;
  }