<mat-nav-list>
    <div class="logo">
      <h2><a href="http://google.com" target="_blank">Petrovich 
      </a></h2>
    </div>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/goods">
      <mat-icon>menu</mat-icon> Goods
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/create">
      <mat-icon>
      add_box
        </mat-icon> Create
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/customers">
      <mat-icon>shopping_cart</mat-icon> Customers
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/roles">
      <mat-icon>
        person_add
      </mat-icon>Roles
    </a>
  </mat-nav-list>
