mat-card {
    width: 200px;
    height: 100px;
    border: 2px solid #F44336;
    position: fixed; 
    top: 200px;
    right: 0;
    bottom: 0;
    left: 600px;
    transition: all 0.5s ease;
}
.delete-close{
    background-color: rgb(87, 87, 87);
}
mat-card-actions {
    display: flex;
    justify-content: space-between;
}