@import '../../app.component.scss';
* {
    color: $textColor;
}
.search-input {
    margin: 20px 0 0 20px;
    width: 95%;
}
h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(80, 73, 73);
}
table {
    margin:0 20px 20px 20px;
    width: 95%;
    border-collapse: collapse;
  }
td {
    padding: 10px;
    border-bottom: 1px solid rgb(80, 73, 73);
}
.table-short {
    width: 50%;
}
.table-delete button {
    margin-right:20px;
}
.table-img {
    width: 100px;
}
img {
    height: 80px;
    width: 80px;
    object-fit: contain;
}
.info {
   padding-left: 200px; 
   display: flex; 
   justify-content: flex-start;
   padding-bottom: 20px;
   border-bottom: 1px solid rgb(80, 73, 73);
}
.persone {
   padding-left: 200px;
   display: flex; 
   margin-top: 20px;
   justify-content: flex-start;
   padding-bottom: 20px;
   border-bottom: 1px solid rgb(80, 73, 73);
}
 span {
    font-size: 18px;
}
.order-unit {
    margin-left: 30px;
    margin-right: 100px;
    width: 400px;
}
.quentity-input {
    width: 100px;
    height: 65px;
}
.btn-field {
    margin: 40px;
    display: flex;
    justify-content: space-around;
}
